{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body class="background_image" style="background-image:url({% static 'images/log.jpg' %})">
<h2  style="text-align:center;color:pink;"> LOGIN </h2>
<style>
    form{ text-align:center;
        }
     input{margin-bottom:8px;
     }
        </style>



<form action="login" method ="post">
  {% csrf_token %}
   <input type ="text" name="username"  placeholder= " enter your username" ><br>
   <input type ="password" name="password"  placeholder= " enter your password" ><br>
  <input type ="submit">
</form>
</body>
</html>